---
page-title: Roster V3
page-heading: "Roster <span class=\"highlight\">V3</span>"

breadcrumbs: [
	{
		label: "Team",
		link: "team-overview.html"
	},
	{
		label: "Roster V3"
	}
]
---

{{> team-filter}}

<!-- Content
================================================== -->
<div class="site-content">
	<div class="container">

		<!-- Team Roster: Grid Slider -->
		<div class="team-roster team-roster--grid-sm js-team-roster--grid-sm row">

			<div class="col-sm-6 col-md-6 col-lg-4">
				<!-- Team Member #1 -->
				<div class="team-roster__item">
					<div class="team-roster__holder">
						<figure class="team-roster__img">
							<a href="#">
								<img src="{{../root}}assets/images/samples/roster_player_01_sm.jpg" alt="">
								<span class="btn-fab"></span>
							</a>
						</figure>
						<div class="team-roster__content">
							<header class="team-roster__member-header">
								<div class="team-roster__member-number">38</div>
								<h2 class="team-roster__member-name">
									<span class="team-roster__member-first-name">James</span>
									<span class="team-roster__member-last-name">Girobili</span>
								</h2>
							</header>
							<div class="team-roster__member-subheader">
								<div class="team-roster__member-position">1st Shooting Guard</div>
							</div>
							<ul class="team-roster__member-details list-unstyled">
								<li class="team-roster__member-details-item"><span class="item-title">Born:</span> <span class="item-desc">Amestris, CA. USA</span></li>
								<li class="team-roster__member-details-item"><span class="item-title">Height:</span> <span class="item-desc">6'6"</span></li>
								<li class="team-roster__member-details-item"><span class="item-title">Weight:</span> <span class="item-desc">250lbs</span></li>
								<li class="team-roster__member-details-item"><span class="item-title">Age:</span> <span class="item-desc">18</span></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Team Member #1 / End -->

				<!-- Team Member #4 -->
				<div class="team-roster__item">
					<div class="team-roster__holder">
						<figure class="team-roster__img">
							<a href="#">
								<img src="{{../root}}assets/images/samples/roster_player_04_sm.jpg" alt="">
								<span class="btn-fab"></span>
							</a>
						</figure>
						<div class="team-roster__content">
							<header class="team-roster__member-header">
								<div class="team-roster__member-number">11</div>
								<h2 class="team-roster__member-name">
									<span class="team-roster__member-first-name">Marian</span>
									<span class="team-roster__member-last-name">Diamond</span>
								</h2>
							</header>
							<div class="team-roster__member-subheader">
								<div class="team-roster__member-position">1st Center</div>
							</div>
							<ul class="team-roster__member-details list-unstyled">
								<li class="team-roster__member-details-item"><span class="item-title">Born:</span> <span class="item-desc">Portland, OR. USA</span></li>
								<li class="team-roster__member-details-item"><span class="item-title">Height:</span> <span class="item-desc">6'9"</span></li>
								<li class="team-roster__member-details-item"><span class="item-title">Weight:</span> <span class="item-desc">202lbs</span></li>
								<li class="team-roster__member-details-item"><span class="item-title">Age:</span> <span class="item-desc">19</span></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Team Member #4 / End -->
			</div>

			<div class="col-sm-6 col-md-6 col-lg-4">
				<!-- Team Member #2 -->
				<div class="team-roster__item">
					<div class="team-roster__holder">
						<figure class="team-roster__img">
							<a href="#">
								<img src="{{../root}}assets/images/samples/roster_player_02_sm.jpg" alt="">
								<span class="btn-fab"></span>
							</a>
						</figure>
						<div class="team-roster__content">
							<header class="team-roster__member-header">
								<div class="team-roster__member-number">24</div>
								<h2 class="team-roster__member-name">
									<span class="team-roster__member-first-name">Mark</span>
									<span class="team-roster__member-last-name">Stevens</span>
								</h2>
							</header>
							<div class="team-roster__member-subheader">
								<div class="team-roster__member-position">1st Power Forward</div>
							</div>
							<ul class="team-roster__member-details list-unstyled">
								<li class="team-roster__member-details-item"><span class="item-title">Born:</span> <span class="item-desc">Green Palm, CA. USA</span></li>
								<li class="team-roster__member-details-item"><span class="item-title">Height:</span> <span class="item-desc">6'8"</span></li>
								<li class="team-roster__member-details-item"><span class="item-title">Weight:</span> <span class="item-desc">220lbs</span></li>
								<li class="team-roster__member-details-item"><span class="item-title">Age:</span> <span class="item-desc">20</span></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Team Member #2 / End -->

				<!-- Team Member #5 -->
				<div class="team-roster__item">
					<div class="team-roster__holder">
						<figure class="team-roster__img">
							<a href="#">
								<img src="{{../root}}assets/images/samples/roster_player_05_sm.jpg" alt="">
								<span class="btn-fab"></span>
							</a>
						</figure>
						<div class="team-roster__content">
							<header class="team-roster__member-header">
								<div class="team-roster__member-number">15</div>
								<h2 class="team-roster__member-name">
									<span class="team-roster__member-first-name">Nick</span>
									<span class="team-roster__member-last-name">Rodgers</span>
								</h2>
							</header>
							<div class="team-roster__member-subheader">
								<div class="team-roster__member-position">1st Point Guard</div>
							</div>
							<ul class="team-roster__member-details list-unstyled">
								<li class="team-roster__member-details-item"><span class="item-title">Born:</span> <span class="item-desc">Amestris, CA. USA</span></li>
								<li class="team-roster__member-details-item"><span class="item-title">Height:</span> <span class="item-desc">6'9"</span></li>
								<li class="team-roster__member-details-item"><span class="item-title">Weight:</span> <span class="item-desc">226lbs</span></li>
								<li class="team-roster__member-details-item"><span class="item-title">Age:</span> <span class="item-desc">18</span></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Team Member #5 / End -->
			</div>

			<div class="col-sm-6 col-md-6 col-lg-4">
				<!-- Team Member #3 -->
				<div class="team-roster__item">
					<div class="team-roster__holder">
						<figure class="team-roster__img">
							<a href="#">
								<img src="{{../root}}assets/images/samples/roster_player_03_sm.jpg" alt="">
								<span class="btn-fab"></span>
							</a>
						</figure>
						<div class="team-roster__content">
							<header class="team-roster__member-header">
								<div class="team-roster__member-number">07</div>
								<h2 class="team-roster__member-name">
									<span class="team-roster__member-first-name">Jenny</span>
									<span class="team-roster__member-last-name">Valentine</span>
								</h2>
							</header>
							<div class="team-roster__member-subheader">
								<div class="team-roster__member-position">1st Small Forward</div>
							</div>
							<ul class="team-roster__member-details list-unstyled">
								<li class="team-roster__member-details-item"><span class="item-title">Born:</span> <span class="item-desc">Long East, NY. USA</span></li>
								<li class="team-roster__member-details-item"><span class="item-title">Height:</span> <span class="item-desc">6'4"</span></li>
								<li class="team-roster__member-details-item"><span class="item-title">Weight:</span> <span class="item-desc">186lbs</span></li>
								<li class="team-roster__member-details-item"><span class="item-title">Age:</span> <span class="item-desc">18</span></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Team Member #3 / End -->

				<!-- Team Member #6 -->
				<div class="team-roster__item">
					<div class="team-roster__holder">
						<figure class="team-roster__img">
							<a href="#">
								<img src="{{../root}}assets/images/samples/roster_player_06_sm.jpg" alt="">
								<span class="btn-fab"></span>
							</a>
						</figure>
						<div class="team-roster__content">
							<header class="team-roster__member-header">
								<div class="team-roster__member-number">CH</div>
								<h2 class="team-roster__member-name">
									<span class="team-roster__member-first-name">Robert</span>
									<span class="team-roster__member-last-name">Frankson</span>
								</h2>
							</header>
							<div class="team-roster__member-subheader">
								<div class="team-roster__member-position">Team Coach</div>
							</div>
							<ul class="team-roster__member-details list-unstyled">
								<li class="team-roster__member-details-item"><span class="item-title">Born:</span> <span class="item-desc">Green Palm, CA. USA</span></li>
								<li class="team-roster__member-details-item"><span class="item-title">Height:</span> <span class="item-desc">--</span></li>
								<li class="team-roster__member-details-item"><span class="item-title">Weight:</span> <span class="item-desc">--</span></li>
								<li class="team-roster__member-details-item"><span class="item-title">Age:</span> <span class="item-desc">52</span></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Team Member #6 / End -->
			</div>

			<div class="col-sm-6 col-md-6 col-lg-4">
				<!-- Team Member #4 -->
				<div class="team-roster__item">
					<div class="team-roster__holder">
						<figure class="team-roster__img">
							<a href="#">
								<img src="{{../root}}assets/images/samples/roster_player_04_sm.jpg" alt="">
								<span class="btn-fab"></span>
							</a>
						</figure>
						<div class="team-roster__content">
							<header class="team-roster__member-header">
								<div class="team-roster__member-number">11</div>
								<h2 class="team-roster__member-name">
									<span class="team-roster__member-first-name">Marian</span>
									<span class="team-roster__member-last-name">Diamond</span>
								</h2>
							</header>
							<div class="team-roster__member-subheader">
								<div class="team-roster__member-position">1st Center</div>
							</div>
							<ul class="team-roster__member-details list-unstyled">
								<li class="team-roster__member-details-item"><span class="item-title">Born:</span> <span class="item-desc">Portland, OR. USA</span></li>
								<li class="team-roster__member-details-item"><span class="item-title">Height:</span> <span class="item-desc">6'9"</span></li>
								<li class="team-roster__member-details-item"><span class="item-title">Weight:</span> <span class="item-desc">202lbs</span></li>
								<li class="team-roster__member-details-item"><span class="item-title">Age:</span> <span class="item-desc">19</span></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Team Member #4 / End -->

				<!-- Team Member #2 -->
				<div class="team-roster__item">
					<div class="team-roster__holder">
						<figure class="team-roster__img">
							<a href="#">
								<img src="{{../root}}assets/images/samples/roster_player_02_sm.jpg" alt="">
								<span class="btn-fab"></span>
							</a>
						</figure>
						<div class="team-roster__content">
							<header class="team-roster__member-header">
								<div class="team-roster__member-number">24</div>
								<h2 class="team-roster__member-name">
									<span class="team-roster__member-first-name">Mark</span>
									<span class="team-roster__member-last-name">Stevens</span>
								</h2>
							</header>
							<div class="team-roster__member-subheader">
								<div class="team-roster__member-position">1st Power Forward</div>
							</div>
							<ul class="team-roster__member-details list-unstyled">
								<li class="team-roster__member-details-item"><span class="item-title">Born:</span> <span class="item-desc">Green Palm, CA. USA</span></li>
								<li class="team-roster__member-details-item"><span class="item-title">Height:</span> <span class="item-desc">6'8"</span></li>
								<li class="team-roster__member-details-item"><span class="item-title">Weight:</span> <span class="item-desc">220lbs</span></li>
								<li class="team-roster__member-details-item"><span class="item-title">Age:</span> <span class="item-desc">20</span></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Team Member #2 / End -->
			</div>

		</div>
		<!-- Team Roster: Grid Slider / End -->



		<div class="row">
			<!-- Team Roster: Table -->
			<div class="col-md-8">
				<div class="card card--has-table">
					<div class="card__header">
						<h4>Complete Roster</h4>
					</div>
					<div class="card__content">
						<div class="table-responsive">
							<table class="table table--lg team-roster-table">
								<thead>
									<tr>
										<th class="team-roster-table__number">NBR</th>
										<th class="team-roster-table__name">Player Name</th>
										<th class="team-roster-table__position hidden-xs hidden-sm">Position</th>
										<th class="team-roster-table__age">Age</th>
										<th class="team-roster-table__height">Height</th>
										<th class="team-roster-table__weight">Weight</th>
										<th class="team-roster-table__college hidden-xs hidden-sm">College</th>
									</tr>
								</thead>
								<tbody>
									{{#each basketball.sp.team.main-roster}}
									<tr>
										<td class="team-roster-table__number">{{number}}</td>
										<td class="team-roster-table__name">{{name}}</td>
										<td class="team-roster-table__position hidden-xs hidden-sm">{{position}}</td>
										<td class="team-roster-table__age">{{age}}</td>
										<td class="team-roster-table__height">{{height}}</td>
										<td class="team-roster-table__weight">{{weight}}</td>
										<td class="team-roster-table__college hidden-xs hidden-sm">{{place}}</td>
									</tr>
									{{/each}}
									{{#each basketball.sp.team.staff}}
									<tr>
										<td class="team-roster-table__number">{{number}}</td>
										<td class="team-roster-table__name">{{firstname}} {{lastname}}</td>
										<td class="team-roster-table__position hidden-xs hidden-sm">{{position}}</td>
										<td class="team-roster-table__age">{{age}}</td>
										<td class="team-roster-table__height">{{height}}</td>
										<td class="team-roster-table__weight">{{weight}}</td>
										<td class="team-roster-table__college hidden-xs hidden-sm">{{place}}</td>
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- Team Roster: Table / End -->

			<!-- Featured Player -->
			<div class="col-md-4">

				{{> widget-player-alt-extended}}

			</div>
			<!-- Featured Player / End -->
		</div>
	</div>
</div>

<!-- Content / End -->
